@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 264.695 42% 12.9%;
  }

  .dark {
    --background: 264.695 42% 12.9%;
    --foreground: 247.858 3% 98.4%;
  }

  * {
    @apply border-gray-200 dark:border-gray-800;
  }

  body {
    @apply bg-white dark:bg-gray-950 text-gray-900 dark:text-gray-50;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Reduced motion */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
